* {
    font-family: "Bitcount Single Ink", system-ui;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(90deg, #250397, #1a0242);
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    background: linear-gradient(90deg, #250397, #1a0242);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* Estilos para el Carrusel */
.carousel-item img {
    height: 450px;
    object-fit: cover;
    width: 100%;
}

.carousel-inner {
    border-radius: 12px;
    overflow: hidden;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 15px;
}